body {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    
    height: 100vh;
    width: 100vw;
    background-color: #333;
    
    display: flex;
    flex-direction: column;
}

#main-canvas {
    border: .4rem solid white;
}

#inputs {
    margin-top: 5px;
    display: flex;
}

#second-vector {
    margin-left: auto;
}